.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  
}

.file-input {
  margin: 10px 0;
}

.upload-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:disabled {
  background-color: #ccc;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.profile-details {
  width: 100%;
}

.profile-info-item {
  margin: 10px 0;
  font-size: 16px;
}

.email-display, .editable-email {
  display: flex;
  align-items: center;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.save-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.edit-email-input {
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
}
